In [63]:
import pandas as pd
from pathlib import Path

In [64]:
ny_data_csv = pd.read_csv("data/daily_data.csv")

ny_weather_df = pd.DataFrame(ny_data_csv)

ny_weather_clean_df  = ny_weather_df[["DATE", "DailyPeakWindDirection", "DailyPeakWindSpeed", "DailyPrecipitation", "DailySnowDepth", "DailySnowfall", "DailySustainedWindDirection", "DailySustainedWindSpeed"]]

ny_weather_clean_df

,DATE,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,2015-01-01T23:59:00,190.0,26.0,0.00,0.0,0.0,190.0,20.0
1,2015-01-02T23:59:00,250.0,30.0,T,0.0,T,310.0,23.0
2,2015-01-03T23:59:00,170.0,21.0,0.57,0.0,1.6,160.0,15.0
3,2015-01-04T23:59:00,290.0,33.0,0.22,1.0,0.0,290.0,24.0
4,2015-01-05T23:59:00,280.0,42.0,T,0.0,T,290.0,32.0
...,...,...,...,...,...,...,...,...
2663,2022-05-27T23:59:00,160.0,28.0,0.00,0,0.0,160.0,21.0
2664,2022-05-28T23:59:00,310.0,26.0,0.04,0,0.0,310.0,22.0
2665,2022-05-29T23:59:00,90.0,13.0,0.00,0,0.0,180.0,9.0
2666,2022-05-30T23:59:00,200.0,15.0,0.00,0,0.0,190.0,12.0
2667,2022-05-31T23:59:00,250.0,29.0,0.00,0,0.0,250.0,21.0

In [65]:
ny_weather_clean_df = ny_weather_clean_df.astype({"DATE": "datetime64[ns]"})

ny_weather_clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2668 entries, 0 to 2667
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   DATE                         2668 non-null   datetime64[ns]
 1   DailyPeakWindDirection       2668 non-null   float64
 2   DailyPeakWindSpeed           2668 non-null   float64
 3   DailyPrecipitation           2668 non-null   object
 4   DailySnowDepth               2668 non-null   object
 5   DailySnowfall                2668 non-null   object
 6   DailySustainedWindDirection  2668 non-null   float64
 7   DailySustainedWindSpeed      2668 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 166.9+ KB

In [66]:
ny_weather_clean_sorted_df = ny_weather_clean_df.sort_values(by=['DATE'])
ny_weather_clean_sorted_df.head(500)

,DATE,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed
0,2015-01-01 23:59:00,190.0,26.0,0.00,0.0,0.0,190.0,20.0
1,2015-01-02 23:59:00,250.0,30.0,T,0.0,T,310.0,23.0
2,2015-01-03 23:59:00,170.0,21.0,0.57,0.0,1.6,160.0,15.0
3,2015-01-04 23:59:00,290.0,33.0,0.22,1.0,0.0,290.0,24.0
4,2015-01-05 23:59:00,280.0,42.0,T,0.0,T,290.0,32.0
...,...,...,...,...,...,...,...,...
495,2016-06-08 23:59:00,260.0,41.0,T,0.0,0.0,310.0,30.0
496,2016-06-09 23:59:00,300.0,39.0,0.00,0.0,0.0,300.0,30.0
497,2016-06-10 23:59:00,300.0,30.0,0.00,0.0,0.0,280.0,22.0
498,2016-06-11 23:59:00,100.0,14.0,0.45,0.0,0.0,220.0,12.0
499,2016-06-12 23:59:00,300.0,38.0,T,0.0,0.0,310.0,28.0

In [67]:
ny_weather_clean_sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2668 entries, 0 to 2667
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   DATE                         2668 non-null   datetime64[ns]
 1   DailyPeakWindDirection       2668 non-null   float64
 2   DailyPeakWindSpeed           2668 non-null   float64
 3   DailyPrecipitation           2668 non-null   object
 4   DailySnowDepth               2668 non-null   object
 5   DailySnowfall                2668 non-null   object
 6   DailySustainedWindDirection  2668 non-null   float64
 7   DailySustainedWindSpeed      2668 non-null   float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 166.9+ KB

In [68]:
# Create a new column 'Year' by extracting the year from the 'Date' column

ny_weather_clean_sorted_df['Year'] = ny_weather_clean_sorted_df['DATE'].dt.year

ny_weather_clean_sorted_df['Month'] = ny_weather_clean_sorted_df['DATE'].dt.month

ny_weather_clean_sorted_df

,DATE,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,Year,Month
0,2015-01-01 23:59:00,190.0,26.0,0.00,0.0,0.0,190.0,20.0,2015,1
1,2015-01-02 23:59:00,250.0,30.0,T,0.0,T,310.0,23.0,2015,1
2,2015-01-03 23:59:00,170.0,21.0,0.57,0.0,1.6,160.0,15.0,2015,1
3,2015-01-04 23:59:00,290.0,33.0,0.22,1.0,0.0,290.0,24.0,2015,1
4,2015-01-05 23:59:00,280.0,42.0,T,0.0,T,290.0,32.0,2015,1
...,...,...,...,...,...,...,...,...,...,...
2663,2022-05-27 23:59:00,160.0,28.0,0.00,0,0.0,160.0,21.0,2022,5
2664,2022-05-28 23:59:00,310.0,26.0,0.04,0,0.0,310.0,22.0,2022,5
2665,2022-05-29 23:59:00,90.0,13.0,0.00,0,0.0,180.0,9.0,2022,5
2666,2022-05-30 23:59:00,200.0,15.0,0.00,0,0.0,190.0,12.0,2022,5
2667,2022-05-31 23:59:00,250.0,29.0,0.00,0,0.0,250.0,21.0,2022,5

In [69]:
ny_weather_clean_sorted_df["DailyPrecipitation"] = ny_weather_clean_sorted_df["DailyPrecipitation"].replace("T", "0.0")
ny_weather_clean_sorted_df["DailySnowfall"] = ny_weather_clean_sorted_df["DailySnowfall"].replace("T", "0.0")

ny_weather_clean_sorted_df

,DATE,DailyPeakWindDirection,DailyPeakWindSpeed,DailyPrecipitation,DailySnowDepth,DailySnowfall,DailySustainedWindDirection,DailySustainedWindSpeed,Year,Month
0,2015-01-01 23:59:00,190.0,26.0,0.00,0.0,0.0,190.0,20.0,2015,1
1,2015-01-02 23:59:00,250.0,30.0,0.0,0.0,0.0,310.0,23.0,2015,1
2,2015-01-03 23:59:00,170.0,21.0,0.57,0.0,1.6,160.0,15.0,2015,1
3,2015-01-04 23:59:00,290.0,33.0,0.22,1.0,0.0,290.0,24.0,2015,1
4,2015-01-05 23:59:00,280.0,42.0,0.0,0.0,0.0,290.0,32.0,2015,1
...,...,...,...,...,...,...,...,...,...,...
2663,2022-05-27 23:59:00,160.0,28.0,0.00,0,0.0,160.0,21.0,2022,5
2664,2022-05-28 23:59:00,310.0,26.0,0.04,0,0.0,310.0,22.0,2022,5
2665,2022-05-29 23:59:00,90.0,13.0,0.00,0,0.0,180.0,9.0,2022,5
2666,2022-05-30 23:59:00,200.0,15.0,0.00,0,0.0,190.0,12.0,2022,5
2667,2022-05-31 23:59:00,250.0,29.0,0.00,0,0.0,250.0,21.0,2022,5

In [70]:
ny_weather_clean_sorted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2668 entries, 0 to 2667
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   DATE                         2668 non-null   datetime64[ns]
 1   DailyPeakWindDirection       2668 non-null   float64
 2   DailyPeakWindSpeed           2668 non-null   float64
 3   DailyPrecipitation           2668 non-null   object
 4   DailySnowDepth               2668 non-null   object
 5   DailySnowfall                2668 non-null   object
 6   DailySustainedWindDirection  2668 non-null   float64
 7   DailySustainedWindSpeed      2668 non-null   float64
 8   Year                         2668 non-null   int32
 9   Month                        2668 non-null   int32
dtypes: datetime64[ns](1), float64(4), int32(2), object(3)
memory usage: 187.7+ KB

In [71]:
ny_weather_clean_sorted_df = ny_weather_clean_sorted_df.groupby(["Month", "Year"])
ny_weather_clean_sorted_df.count()

            DATE  DailyPeakWindDirection  DailyPeakWindSpeed  \
Month Year
1     2015    31                      31                  31
      2016    31                      31                  31
      2017    31                      31                  31
      2018    31                      31                  31
      2019    30                      30                  30
...          ...                     ...                 ...
12    2017    31                      31                  31
      2018    31                      31                  31
      2019    31                      31                  31
      2020    31                      31                  31
      2021    31                      31                  31

            DailyPrecipitation  DailySnowDepth  DailySnowfall  \
Month Year
1     2015                  31              31             31
      2016                  31              31             31
      2017                  31              31             31
      2018                  31              31             31
      2019                  30              30             30
...                        ...             ...            ...
12    2017                  31              31             31
      2018                  31              31             31
      2019                  31              31             31
      2020                  31              31             31
      2021                  31              31             31

            DailySustainedWindDirection  DailySustainedWindSpeed
Month Year
1     2015                           31                       31
      2016                           31                       31
      2017                           31                       31
      2018                           31                       31
      2019                           30                       30
...                                 ...                      ...
12    2017                           31                       31
      2018                           31                       31
      2019                           31                       31
      2020                           31                       31
      2021                           31                       31

[88 rows x 8 columns]

In [72]:
#Sophie starts below

In [73]:
# Connor Starts below

In [74]:
# Emily starts below here

In [75]:
#Oumar starts here